[data-testid="stAppViewContainer"] {
    background-image: url("https://www.wallpaperflare.com/green-grass-blue-body-of-water-and-white-clouds-illustration-pokemon-pixel-art-wallpaper-207732.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
[data-testid="stBottom"] > div {
    background: transparent;
}